<!-- FILEPATH: /e:/yomes/Documents/kd_std/imagearchiver/web/app/templates/index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>My Web Page</title>
</head>

<body>
    <form action="/" method="post" enctype="multipart/form-data">
        プリセット解像度か任意の解像度を指定してください<br>
        <input type="radio" name="preset" value="1">155
        <input type="radio" name="preset" value="2">300
        <input type="radio" name="preset" value="3" checked>600
        <input type="radio" name="preset" value="4">ユーザー指定
        <input type="text" name="text" value="">（横解像度）
        <br>保存品質を指定（デフォルトでは高品質）<br>
        <input type="radio" name="quality" value="10">低品質
        <input type="radio" name="quality" value="50">中品質
        <input type="radio" name="quality" value="75">高品質
        <input type="radio" name="quality" value="100">最高品質
        <br>画像ファイルをアップロード<br>
        <input type="file" name="example">
        <br>
        <input type="submit" value="実行">
    </form>
</body>

</html>